{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>pasi0104lp's Community</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{% static "css/bootstrap/css/bootstrap.min.css" %}'>
  <script src='{% static "css/js/jquery.min.js" %}'></script>
  <script src='{% static "css/bootstrap/js/bootstrap.min.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>
<body class='bg' style="background-image: url('{% static "images/background.jpg" %}');">
  
  {% block navbar %}{% include 'nevbar.html' %}{% endblock navbar%}

</body>
</html>