{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Server</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{% static "css/bootstrap/css/bootstrap.min.css" %}'>
  <script src='{% static "js/jquery.min.js" %}'></script>
  <script src='{% static "css/bootstrap/js/bootstrap.min.js" %}'></script>
  <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>
<body>
    {% block navbar %}{% include 'nevbar.html' %}{% endblock navbar%}

    <main role="main">

        <section class="jumbotron text-center bg" style="background-image: url('{% static "images/background.jpg" %}');">
          <div class="container">
            <h1 class="jumbotron-heading">Meine Server</h1>
          </div>
        </section>
        <div class="row">
            <div class="card text-center border-light mb-3" style="width:33%">
                <div class="card-body">
                    <img class="card-img-top" style="display: block; object-fit: contain; height: 225px" src="{% static "images/discord.png" %}">
                    <h5 class="card-title">Discord-Server</h5>
                    <a href="https://discord.com/invite/4k4YCvY" class="stretched-link"></a>
                </div>
                </div>
    
                <div class="card text-center border-light mb-3" style="width:33%">
                <div class="card-body">
                    <img class="card-img-top" style="display: block; object-fit: contain; height: 225px" src="{% static "images/teamspeak.png" %}">
                    <h5 class="card-title">Teamspeak</h5>
                    <a href="https://teamspeak.com/en/" class="stretched-link"></a>
                </div>
                </div>
                <div class="card text-center border-light mb-3" style="width:33%">
                    <div class="card-body">
                        <img class="card-img-top" style="display: block; object-fit: contain; height: 225px" src="{% static "images/terraria.jpeg" %}">
                        <h5 class="card-title">Terraria</h5>
                        <a href="https://www.terraria.org/" class="stretched-link"></a>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="card text-center border-light mb-3" style="width:33%">
                <div class="card-body">
                    <img class="card-img-top" style="display: block; object-fit: contain; height: 225px" src="{% static "images/minecraft.png" %}">
                    <h5 class="card-title">Minecraft Vanilla</h5>
                    <a href="https://minecraftservers.org/type/vanilla" class="stretched-link"></a>
                </div>
                </div>
    
                <div class="card text-center border-light mb-3" style="width:33%">
                <div class="card-body">
                    <img class="card-img-top" style="display: block; object-fit: contain; height: 225px" src="{% static "images/skyfactory.png" %}">
                    <h5 class="card-title">Sky Factory</h5>
                    <a href="https://www.skyfactory.com/" class="stretched-link"></a>
                </div>
                </div>
                <div class="card text-center border-light mb-3" style="width:33%">
                    <div class="card-body">
                        <img class="card-img-top" style="display: block; object-fit: contain; height: 225px" src="{% static "images/builders.jpg" %}">
                        <h5 class="card-title">Builders Paradaise</h5>
                        <a href="/" class="stretched-link"></a>
                    </div>
                </div>
        </div>
    </main>
</body>
</html>